<!DOCTYPE html>
<html>

<head>

<title>DocMind AI</title>

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="navbar">

<h1>🚀 DocMind AI</h1>

</div>

<div class="container">

<div class="upload-box">

<h2>Upload PDF</h2>

<br>

<form action="/upload"
method="post"
enctype="multipart/form-data">

<input type="file"
name="file"
required>

<br><br>

<button type="submit">
Upload PDF
</button>

</form>

</div>

<div class="grid">

<div class="card">
<h3>🧠 AI Summary</h3>
<p>Summarize any PDF instantly.</p>
</div>

<div class="card">
<h3>📝 Notes Generator</h3>
<p>Create study notes automatically.</p>
</div>

<div class="card">
<h3>❓ MCQ Generator</h3>
<p>Generate questions from PDFs.</p>
</div>

<div class="card">
<h3>📄 Merge PDF</h3>
<p>Combine multiple PDFs.</p>
</div>

<div class="card">
<h3>✂ Split PDF</h3>
<p>Split PDFs into pages.</p>
</div>

<div class="card">
<h3>💼 Resume Analyzer</h3>
<p>Check ATS score.</p>
</div>

</div>

</div>

</body>

</html>