<!DOCTYPE html>
<html>

<head>

<title>DocMind AI</title>

<style>

body{
    font-family:Arial;
    background:#f4f6f9;
}

.container{
    width:500px;
    margin:auto;
    margin-top:120px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    text-align:center;
}

h1{
    color:#2563eb;
}

p{
    color:#555;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

</style>

</head>

<body>

<div class="container">

<div class="card">

<h1>📄 DocMind AI</h1>

<p>
Upload any PDF and let AI analyze it.
</p>

<form action="/upload"
      method="post"
      enctype="multipart/form-data">

<input type="file"
       name="file"
       required>

<br><br>

<button type="submit">
Upload PDF
</button>

</form>

</div>

</div>

</body>

</html>